<.header>
  Listing of ongoing tasks 
    <:actions>
      <%= if @current_user.admin do %>
        <.link href={~p"/tasks/new"}>
          <.button>New Task</.button>
        </.link>
      <% end %>
   </:actions>

</.header>