@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
body{
    background:#353535;
    color:#f0f0f0 !important;
}

/* Flop table styling */
#user-table{
    width:100%;
}
#user-table th{
    text-align: left;
}
.pagination{
    display: flex;
    align-items: center;
    gap:0.5em;
}
.pagination:first-of-type {
    margin-bottom:1em;
  }
  
  .pagination:last-of-type {
    margin-top:1em;
  }
.pagination-list{
    display: flex;
    gap:0.5em;
}
.pagination-previous, .pagination-next{
  border: 1px solid #e5e7eb;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius:0.5rem;
}
.pagination-list li a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius:0.5rem;
    border: 1px solid #e5e7eb;
}
.pagination-list li a:hover{
    background-color: rgb(217, 119, 6);
}
.pagination-list li a.is-current{
    background-color: rgb(217, 119, 6);

}
.pagination-previous:not(.disabled):hover, .pagination-next:not(.disabled):hover{
    background-color: rgb(217, 119, 6);
}
.pagination-previous.disabled, .pagination-next.disabled{
    color:rgb(240, 240, 240, 0.5);
    border: 1px solid rgb(240, 240, 240, 0.5);;
}
