@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
body{
    background:#353535;
    color:#f0f0f0 !important;
}

/* user table styling */
#user-table, #user-table-tbody{
    text-align: left;
}
#user-table th{
    text-align: left;
    border-bottom:1px solid rgb(229, 231, 235);
    font-weight: normal;
}
#user-table td{
    border-bottom:1px solid rgb(229, 231, 235);
    padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#user-table td:nth-child(1){
    width:25%;
}
#user-table td:nth-child(2){
    width:25%;
}
#user-table td:nth-child(3){
    width:10%;
}
#user-table td:nth-child(4){
    width:8%;
}
#user-table td:nth-child(5){
    width:1%;
}
#user-table tr:last-child td{
    border-bottom:none;
}

/* tasks table styling */
#tasks td:nth-child(1){
    width:5%;
}
#tasks td:nth-child(2){
    width:20%;
}
#tasks td:nth-child(3){
    width:3%;
}
#tasks td:nth-child(4), #tasks th:nth-child(4){
    width:3%;
    text-align: center;
}
#tasks td:nth-child(4) div.status-pending{
    background-color: #1e40af;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
#tasks td:nth-child(4) div.status-started{
    background-color: #a16207;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
#tasks td:nth-child(4) div.status-completed{
    background-color: #15803d;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
#tasks td:nth-child(5), #tasks th:nth-child(5){
    width:10%;
    text-align: center;
}
#tasks td:nth-child(6){
    width:1%;
}


/* Flop pagination styling */
.pagination{
    display: flex;
    align-items: center;
    gap:0.5em;
}
.pagination:first-of-type {
    margin-bottom:1em;
  }
  
  .pagination:last-of-type {
    margin-top:1em;
  }
.pagination-list{
    display: flex;
    gap:0.5em;
}
.pagination-previous, .pagination-next{
  border: 1px solid #e5e7eb;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius:0.5rem;
}
.pagination-list li a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius:0.5rem;
    border: 1px solid #e5e7eb;
}
.pagination-list li a:hover{
    background-color: rgb(217, 119, 6);
}
.pagination-list li a.is-current{
    background-color: rgb(217, 119, 6);

}
.pagination-previous:not(.disabled):hover, .pagination-next:not(.disabled):hover{
    background-color: rgb(217, 119, 6);
}
.pagination-previous.disabled, .pagination-next.disabled{
    color:rgb(240, 240, 240, 0.5);
    border: 1px solid rgb(240, 240, 240, 0.5);;
}

@media (max-width:993px){
    #user-table, #user-table-tbody{
       width:70rem
    }

    #user-table td:nth-child(1){
        width:20rem;
    }
    #user-table td:nth-child(2){
        width:25rem;
    }
    #user-table td:nth-child(3){
        width:10rem;
    }
    #user-table td:nth-child(4){
        width:5rem;
    }
    #user-table td:nth-child(5){
        width:5rem;
    }
    .pagination:first-of-type {
        margin-top:1em;
      }
      .pagination-list{
        gap:0.2em;
    }
    .pagination-previous, .pagination-next, .pagination-list li a{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius:0.25rem;
    }
    #tasks, #tasks tbody {
        width:81rem
     }
    #tasks td:nth-child(1){
        width:10rem;
    }
    #tasks td:nth-child(2){
        width:40rem;
    }
    #tasks td:nth-child(3){
        width:10rem;
    }
    #tasks td:nth-child(4), #tasks th:nth-child(4){
        width:10rem;
    }
    #tasks td:nth-child(5), #tasks th:nth-child(5){
        width:10rem;
    }
    #tasks td:nth-child(6){
        width:1rem;
    }
}